.browse-list ul {
  margin: 20px auto 40px;
  max-width: 400px;
}

.browse-title {
  margin: 40px auto 40px;
  max-width: 400px;
}

@media (max-width: 415px) {
  .browse-title {
    text-align: center;
  }
}