.movie-poster {
  display: inline-block;
  width: 100%;
}

.fav-heart-item {
  font-size: 20px;
}

.year {
  text-align: right;
}

.desc {
  margin-bottom: 0;
}

.second {
  margin-top: 20px;
}

.final {
  margin-top: 0;
}

.heart:hover {
  cursor: pointer;
}

@media (max-width: 415px) {
  .year {
    text-align: left;
  }
}
