.search-wrapper {
  margin-top: 90px;
  margin-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.row h5 {
  text-align: center;
  font-style: italic;
}

.autocomplete-container {
  display: inline-block;
  width: 73%;
  margin-right: 12px;
}

.search-btn-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 25%; 
}

@media (max-width: 1190px) {
  .search-wrapper {
    font-size: 12px;
  }
  .autocomplete-container {
    width: 100%;
  }
  form {
   text-align: center; 
  }
  .search-btn-wrapper {
    width: 100%; 
  }
  .search-btn-wrapper .btn {
    width: 100%; 
  }
}

@media (max-width: 415px) {
  .search-wrapper h5 {
    font-size: 16px;
  }
}
