.search-wrapper {
  margin-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.row h5 {
  text-align: center;
  font-style: italic;
}

.autocomplete-container {
  display: inline-block;
  width: 73%;
  margin-right: 12px;
}

.btn {
  width: 25%; 
  vertical-align: top;
}